language: python
python:
  - "3.6"
before_install:
  - sudo apt install libyaml-dev
install:
  - pip install -r requirements.txt
  - pip install -r requirements_test.txt
env:
  WEBAPI_ROOT=$PWD/webapi
  WEBAPI_TEST_USING_CONFIG=1
  WEBAPI_PRODUCTION=0
  WEBAPI_PULL_ADDRESS="tcp://julien00859.be:22549"
  WEBAPI_PUB_ADDRESS="tcp://julien00859.be:22550"
script: 
  - python -m webapi showconfig
  - python -m unittest -v
  - python -m webapi dryrun
after_success: 
  - coverage run -m unittest
  - codecov
  - pylint webapi --reports=y --const-naming-style=any > /tmp/pylint-report
  - curl -v -m 30 -X POST -F pylint-report=@/tmp/pylint-report https://pylint.julien00859.be/reports
  - python setup.py bdist_wheel
  - pip install twine
  - echo "[pypi]" > $HOME/.pypirc
  - echo username = Julien00859 >> $HOME/.pypirc
  - echo password = $PYPI_PWD >> $HOME/.pypirc
  - twine upload dist/*
  - docker build -t jwebgames/webapi:latest -t jwebgames/webapi:stable -t jwebgames/webapi:$(cat version) .
  - echo "$DOCKER_PWD" | docker login -u julien00859 --password-stdin
  - docker push jwebgames/webapi
